<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="charts.component.scss" />
    </head>

<body>
    <div class="main-container-with-blue-border"> 
        <div class="charts-grid-container"> 
            <div class="chart-section">
                <div class="title-box appear-title">Matriz de confusión</div>
                <img class="image-box appear appear-image" src="../../assets/images/confusion.jpg" alt="Matriz de Confusión" />
                <div class="desc-box appear appear-desc">La matriz indica que el modelo funciona excepcionalmente bien, con un número alto de clasificaciones correctas y muy pocas erróneas. Muestra una fortaleza particular en la identificación de casos "Benignos".</div>
            </div>

            <div class="chart-section">
                <div class="title-box appear-title">Modelo de Precisión</div>
                <img class="image-box appear appear-image" src="../../assets/images/r.jpg" alt="Gráfico de Precisión" />
                <div class="desc-box appear appear-desc">La alta y estable precisión tanto en entrenamiento como en validación es una señal muy positiva, confirmando que el modelo tiene un rendimiento sobresaliente y es confiable para hacer predicciones en el mundo real.</div>
            </div>
        </div>
    </div>
</body>

</html>