/* Reset y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo de toda la app */
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-image: url('../src/assets/images/fondo.png');
  background-size: cover;           // Que cubra toda el área visible
  background-position: center;      // Centrado
  background-repeat: no-repeat;     // No repetir
  background-attachment: fixed;     // Fijo al hacer scroll
  min-height: 100vh;                // Al menos toda la altura del viewport
  width: 100%;
}

/* Tarjeta común */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
  color: #495057;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

/* Importar Bootstrap SCSS */
@import 'bootstrap/scss/bootstrap';
